Repository lumirlumir/npm-bananass, pull requests merged in 2025-05, with the labels that each got.

#388 chore(deps): bump `open` from `v10.1.1` to `v10.1.2`
  package-lock.json
  packages/bananass/package.json
  websites/vitepress/ko/learn/q-and-a.md
Labels: :label: type: chore, :label: scope: deps

#389 chore(*): cleanup examples and update scripts field of `package.json`
  examples/solutions-bananass-cjs/bananass/2558.js
  examples/solutions-bananass-cjs/bananass/2558/index.js
  examples/solutions-bananass-cjs/bananass/2558/solution.js
  examples/solutions-bananass-cjs/bananass/2558/testcases.js
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/bananass/2558.js
  examples/solutions-bananass-mjs/bananass/2558/index.js
  examples/solutions-bananass-mjs/bananass/2558/solution.js
  examples/solutions-bananass-mjs/bananass/2558/testcases.js
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  package.json
  tests/e2e/bananass-build/fixtures/mjs/bananass/2000/index.js
  websites/vitepress/.vitepress/theme/index.js
Labels: :label: type: chore, :label: scope: *

#392 refactor(create-bananass): update `README.md` in templates
  .gitignore
  packages/create-bananass/templates/javascript-cjs/README.en.md
  packages/create-bananass/templates/javascript-cjs/README.ko.md
  packages/create-bananass/templates/javascript-cjs/README.md
  packages/create-bananass/templates/javascript-esm/README.en.md
  packages/create-bananass/templates/javascript-esm/README.ko.md
  packages/create-bananass/templates/javascript-esm/README.md
  packages/create-bananass/templates/typescript-cjs/README.en.md
  packages/create-bananass/templates/typescript-cjs/README.ko.md
  packages/create-bananass/templates/typescript-cjs/README.md
  packages/create-bananass/templates/typescript-esm/README.en.md
  packages/create-bananass/templates/typescript-esm/README.ko.md
  packages/create-bananass/templates/typescript-esm/README.md
  tests/e2e/create-bananass/cli.test.js
Labels: :label: type: refactor, :label: scope: create-bananass

#394 chore(websites-vitepress): create `logo-og.png`
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
  websites/vitepress/.vitepress/config/shared.js
  websites/vitepress/public/logo-og.png
Labels: :label: type: chore, :label: scope: websites-vitepress

#396 refactor(bananass): detach `webpackResolve` logic from `run.js`
  packages/bananass/src/commands/bananass-run/run.js
  packages/bananass/src/core/fs/index.js
  packages/bananass/src/core/fs/webpack-resolve/index.js
  packages/bananass/src/core/fs/webpack-resolve/webpack-resolve.js
Labels: :label: type: refactor, :label: scope: bananass

#397 fix(bananass): run command should be considered a match regardless of whether it ends with whitespace
  examples/solutions-bananass-cjs/bananass/31403.js
  examples/solutions-bananass-cts/bananass/31403.ts
  examples/solutions-bananass-mjs/bananass/31403.js
  examples/solutions-bananass-mts/bananass/31403.ts
  packages/bananass/src/commands/bananass-run/run.js
  packages/bananass/src/commands/bananass-run/test-runner.js
Labels: :label: type: fix, :label: scope: bananass

#404 docs(*): add more examples and related docs
  examples/solutions-bananass-cjs/bananass/2420.js
  examples/solutions-bananass-cts/bananass/2420.ts
  examples/solutions-bananass-mjs/bananass/2420.js
  examples/solutions-bananass-mts/bananass/2420.ts
  websites/vitepress/en/solutions/baekjoon/1000.md
  websites/vitepress/en/solutions/baekjoon/1001.md
  websites/vitepress/en/solutions/baekjoon/2420.md
  websites/vitepress/en/solutions/baekjoon/2558.md
  websites/vitepress/en/solutions/baekjoon/29751.md
  websites/vitepress/en/solutions/baekjoon/31403.md
  websites/vitepress/ko/solutions/baekjoon/1000.md
  websites/vitepress/ko/solutions/baekjoon/1001.md
  websites/vitepress/ko/solutions/baekjoon/2420.md
  websites/vitepress/ko/solutions/baekjoon/2558.md
  websites/vitepress/ko/solutions/baekjoon/29751.md
  websites/vitepress/ko/solutions/baekjoon/31403.md
Labels: :label: type: docs, :label: scope: *

#416 test(*): create test to verify the number of solution files and update `eslint.config.mjs`
  eslint.config.mjs
  tests/integration/number-of-solution-files.test.js
  tests/integration/package-json.test.js
Labels: :label: type: test, :label: scope: *

#417 chore(release): bump package versions from `v0.1.0-canary.5` to `v0.1.0-canary.6` (`prerelease`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  tests/e2e/package.json
  tests/integration/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#418 docs(*): create more examples and solutions
  examples/solutions-bananass-cjs/bananass/10250.js
  examples/solutions-bananass-cjs/bananass/11718.js
  examples/solutions-bananass-cjs/bananass/15964.js
  examples/solutions-bananass-cjs/bananass/2744.js
  examples/solutions-bananass-cjs/bananass/2754.js
  examples/solutions-bananass-cjs/bananass/27866.js
  examples/solutions-bananass-cjs/bananass/9086.js
  examples/solutions-bananass-cts/bananass/10250.ts
  examples/solutions-bananass-cts/bananass/11718.ts
  examples/solutions-bananass-cts/bananass/15964.ts
  examples/solutions-bananass-cts/bananass/2744.ts
  examples/solutions-bananass-cts/bananass/2754.ts
  examples/solutions-bananass-cts/bananass/27866.ts
  examples/solutions-bananass-cts/bananass/9086.ts
  examples/solutions-bananass-mjs/bananass/10250.js
  examples/solutions-bananass-mjs/bananass/11718.js
  examples/solutions-bananass-mjs/bananass/15964.js
  examples/solutions-bananass-mjs/bananass/2744.js
  examples/solutions-bananass-mjs/bananass/2754.js
  examples/solutions-bananass-mjs/bananass/27866.js
  examples/solutions-bananass-mjs/bananass/9086.js
  examples/solutions-bananass-mts/bananass/10250.ts
  examples/solutions-bananass-mts/bananass/11718.ts
  examples/solutions-bananass-mts/bananass/15964.ts
  examples/solutions-bananass-mts/bananass/2744.ts
  examples/solutions-bananass-mts/bananass/2754.ts
  examples/solutions-bananass-mts/bananass/27866.ts
  examples/solutions-bananass-mts/bananass/9086.ts
  websites/vitepress/en/solutions/baekjoon/10250.md
  websites/vitepress/en/solutions/baekjoon/11718.md
  websites/vitepress/en/solutions/baekjoon/15964.md
  websites/vitepress/en/solutions/baekjoon/2744.md
  websites/vitepress/en/solutions/baekjoon/2754.md
  websites/vitepress/en/solutions/baekjoon/27866.md
  websites/vitepress/en/solutions/baekjoon/9086.md
  websites/vitepress/ko/solutions/baekjoon/10250.md
  websites/vitepress/ko/solutions/baekjoon/11718.md
  websites/vitepress/ko/solutions/baekjoon/15964.md
  websites/vitepress/ko/solutions/baekjoon/2744.md
  websites/vitepress/ko/solutions/baekjoon/2754.md
  websites/vitepress/ko/solutions/baekjoon/27866.md
  websites/vitepress/ko/solutions/baekjoon/9086.md
Labels: :label: type: docs, :label: scope: *

#424 docs(websites-vitepress): fix the ordering of solution files in sidebar
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
Labels: :label: type: docs, :label: scope: websites-vitepress

#422 refactor(*): remove `.js` extension in `describe` block
  packages/bananass-utils-console/src/logger/logger.test.js
  packages/bananass-utils-console/src/spinner/spinner.test.js
  packages/bananass-utils-console/src/theme/theme.test.js
  packages/bananass-utils-vitepress/src/head/generate-google-analytics-script/generate-google-analytics-script.test.js
  packages/bananass-utils-vitepress/src/i18n/en/en.test.js
  packages/bananass-utils-vitepress/src/i18n/ko/ko.test.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-reversed/transform-array-prototype-to-reversed.test.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/transform-array-prototype-to-sorted.test.js
  packages/bananass/src/babel-plugins/transform-object-has-own/transform-object-has-own.test.js
  packages/bananass/src/commands/bananass-bug/bug.test.js
  packages/bananass/src/commands/bananass-build/build.test.js
  packages/bananass/src/commands/bananass-discussion/discussion.test.js
  packages/bananass/src/commands/bananass-home/home.test.js
  packages/bananass/src/commands/bananass-info/info.test.js
  packages/bananass/src/commands/bananass-open/open.test.js
  packages/bananass/src/commands/bananass-repo/repo.test.js
  packages/bananass/src/core/conf/config-loader/config-loader.test.js
  packages/bananass/src/core/fs/find-root-dir/find-root-dir.test.js
  packages/bananass/src/core/structs/config-object-add/config-object-add.test.js
  packages/bananass/src/core/structs/config-object-browser/config-object-browser.test.js
  packages/bananass/src/core/structs/config-object-bug/config-object-bug.test.js
  packages/bananass/src/core/structs/config-object-build/config-object-build.test.js
  packages/bananass/src/core/structs/config-object-console/config-object-console.test.js
  packages/bananass/src/core/structs/config-object-discussion/config-object-discussion.test.js
  packages/bananass/src/core/structs/config-object-home/config-object-home.test.js
  packages/bananass/src/core/structs/config-object-info/config-object-info.test.js
  packages/bananass/src/core/structs/config-object-lint/config-object-lint.test.js
  packages/bananass/src/core/structs/config-object-login/config-object-login.test.js
  packages/bananass/src/core/structs/config-object-open/config-object-open.test.js
  packages/bananass/src/core/structs/config-object-repo/config-object-repo.test.js
  packages/bananass/src/core/structs/config-object-run/config-object-run.test.js
  packages/bananass/src/core/structs/config-object-submit/config-object-submit.test.js
  packages/bananass/src/core/structs/config-object/config-object.test.js
  packages/bananass/src/core/structs/input/input.test.js
  packages/bananass/src/core/structs/output/output.test.js
  packages/bananass/src/core/structs/problem/problem.test.js
  packages/bananass/src/core/structs/problems/problems.test.js
  packages/bananass/src/core/structs/solution-with-testcases/solution-with-testcases.test.js
  packages/bananass/src/core/structs/solution/solution.test.js
  packages/bananass/src/core/structs/testcase/testcase.test.js
  packages/bananass/src/core/structs/testcases/testcases.test.js
  packages/prettier-config-bananass/src/index.test.js
Labels: :label: type: refactor, :label: scope: *, accepted

#425 chore(*)!: drop support for Node.js 23
  .github/workflows/test-cross-platform.yml
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
  websites/vitepress/ko/get-started/quick-start.md
Labels: :label: type: chore, :label: scope: *, :label: BREAKING CHANGE

#426 docs(websites-vitepress): complete `quick-start.md`
  package-lock.json
  websites/vitepress/ko/get-started/installation.md
  websites/vitepress/ko/get-started/quick-start.md
  websites/vitepress/ko/learn/writing-all-logic-in-a-single-file.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#427 docs(*): add example for BOJ Problem 30802
  examples/solutions-bananass-cjs/bananass/30802.js
  examples/solutions-bananass-cts/bananass/30802.ts
  examples/solutions-bananass-mjs/bananass/30802.js
  examples/solutions-bananass-mts/bananass/30802.ts
  websites/vitepress/en/solutions/baekjoon/30802.md
  websites/vitepress/ko/solutions/baekjoon/30802.md
Labels: :label: type: docs, :label: scope: *

#429 docs(websites-vitepress): cleanup and update documentation
  websites/vitepress/ko/apis/eslint-config-bananass.md
  websites/vitepress/ko/get-started/before-getting-started.md
  websites/vitepress/ko/get-started/installation.md
  websites/vitepress/ko/solutions/baekjoon/2754.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#433 docs(*): add example for BOJ Problem 28702 (FizzBuzz)
  examples/solutions-bananass-cjs/bananass/28702.js
  examples/solutions-bananass-cts/bananass/28702.ts
  examples/solutions-bananass-mjs/bananass/28702.js
  examples/solutions-bananass-mts/bananass/28702.ts
  websites/vitepress/en/solutions/baekjoon/28702.md
  websites/vitepress/ko/solutions/baekjoon/28702.md
Labels: :label: type: docs, :label: scope: *

#434 refactor(bananass): remove `lint` command and consolidate with `build`
  packages/bananass/src/cli.js
  packages/bananass/src/cli/bananass-lint.js
  packages/bananass/src/cli/index.js
  packages/bananass/src/core/conf/default-config-object/default-config-object.js
  packages/bananass/src/core/structs/config-object-lint/config-object-lint.js
  packages/bananass/src/core/structs/config-object-lint/config-object-lint.test.js
  packages/bananass/src/core/structs/config-object-lint/index.js
  packages/bananass/src/core/structs/config-object/config-object.js
  packages/bananass/src/core/structs/index.js
  packages/bananass/src/core/types.js
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
Labels: :label: type: refactor, :label: scope: bananass

#435 refactor(bananass): cleanup `run` command
  packages/bananass-utils-console/src/icons/icons.js
  packages/bananass/src/commands/bananass-run/run.js
Labels: :label: type: refactor, :label: scope: bananass

#436 docs(websites-vitepress): cleanup documentation for a beta release
  websites/vitepress/ko/learn/excluding-specific-code-from-the-final-build-file.md
  websites/vitepress/ko/learn/project-structure.md
  websites/vitepress/ko/learn/running-a-solution-file.md
  websites/vitepress/ko/learn/writing-all-logic-in-a-single-file.md
  websites/vitepress/ko/learn/writing-test-cases.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#437 chore(release): bump package versions from `v0.1.0-canary.6` to `v0.1.0` (`patch`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  tests/e2e/package.json
  tests/integration/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#458 docs(websites-vitepress): update documentation
  websites/vitepress/ko/apis/bananass-utils-console.md
  websites/vitepress/ko/apis/bananass-utils-vitepress.md
  websites/vitepress/ko/apis/bananass.md
  websites/vitepress/ko/apis/prettier-config-bananass.md
  websites/vitepress/ko/learn/other-useful-cli-commands.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#459 docs(websites-vitepress): update documentation
  websites/vitepress/ko/get-started/installation.md
  websites/vitepress/ko/get-started/quick-start.md
  websites/vitepress/ko/learn/other-useful-cli-commands.md
  websites/vitepress/ko/learn/q-and-a.md
  websites/vitepress/ko/learn/solving-a-problem-without-bananass.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#466 refactor(bananass): remove `login` command
  packages/bananass/src/cli.js
  packages/bananass/src/cli/bananass-login.js
  packages/bananass/src/cli/index.js
  packages/bananass/src/core/conf/default-config-object/default-config-object.js
  packages/bananass/src/core/structs/config-object-login/config-object-login.js
  packages/bananass/src/core/structs/config-object-login/config-object-login.test.js
  packages/bananass/src/core/structs/config-object-login/index.js
  packages/bananass/src/core/structs/config-object/config-object.js
  packages/bananass/src/core/structs/index.js
  packages/bananass/src/core/types.js
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
  websites/vitepress/ko/learn/other-useful-cli-commands.md
Labels: :label: type: refactor, :label: scope: bananass

#468 docs(websites-vitepress): consolidate submitting section
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
  websites/vitepress/en/learn/submitting-a-solution-file.md
  websites/vitepress/en/learn/submitting-directly-on-the-website.md
  websites/vitepress/en/learn/submitting-using-cli-command.md
  websites/vitepress/ko/get-started/quick-start.md
  websites/vitepress/ko/learn/submitting-a-solution-file.md
  websites/vitepress/ko/learn/submitting-directly-on-the-website.md
  websites/vitepress/ko/learn/submitting-using-cli-command.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#469 chore(release): bump package versions from `v0.1.0` to `v0.1.1` (`patch`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  tests/e2e/package.json
  tests/integration/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#474 refactor(bananass): streamline command options with new groups for better organization
  packages/bananass/src/cli/bananass-add.js
  packages/bananass/src/cli/bananass-bug.js
  packages/bananass/src/cli/bananass-build.js
  packages/bananass/src/cli/bananass-discussion.js
  packages/bananass/src/cli/bananass-home.js
  packages/bananass/src/cli/bananass-info.js
  packages/bananass/src/cli/bananass-open.js
  packages/bananass/src/cli/bananass-repo.js
  packages/bananass/src/cli/bananass-run.js
  packages/bananass/src/core/cli/groups.js
  packages/bananass/src/core/cli/options.js
Labels: :label: type: refactor, :label: scope: bananass

#475 docs(websites-vitepress): complete `editor-setup.md`
  websites/vitepress/ko/get-started/editor-setup.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#476 docs(websites-vitepress): update `other-useful-cli-commands.md`
  websites/vitepress/ko/learn/other-useful-cli-commands.md
  websites/vitepress/ko/learn/writing-bananass-config-file.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#479 chore(*): update ESLint config and dependabot
  .github/dependabot.yml
  eslint.config.mjs
Labels: :label: type: chore, :label: scope: *

#482 docs(websites-vitepress): complete `other-useful-cli-commands.md`
  websites/vitepress/ko/apis/create-bananass.md
  websites/vitepress/ko/learn/other-useful-cli-commands.md
  websites/vitepress/ko/learn/writing-bananass-config-file.md
Labels: :label: type: docs, :label: scope: websites-vitepress
