Repository lumirlumir/npm-bananass, pull requests merged in 2025-04, with the labels that each got.

#298 fix(eslint-config-bananass): add `.d.ts`, `.d.mts` and `.d.cts` to `node.resolverConfig.extensions`
  packages/bananass/src/core/fs/find-root-dir/find-root-dir.js
  packages/eslint-config-bananass/src/settings.js
Labels: :label: type: fix, :label: scope: eslint-config-bananass

#299 chore(*): rename root level config file extensions to `.mjs` or `.cjs`
  .github/sync-client.yml
  .prettierrc.cjs
  .textlintrc.cjs
  lint-staged.config.mjs
Labels: :label: type: chore, :label: scope: *

#318 fix(eslint-config-bananass)!: update rule configurations for better linting accuracy
  packages/eslint-config-bananass/src/rules/eslint/eslint-suggestions.js
  packages/eslint-config-bananass/src/rules/react/react.js
Labels: :label: type: fix, :label: BREAKING CHANGE, :label: scope: eslint-config-bananass

#319 feat(prettier-config-bananass): add type support
  .github/sync-client.yml
  packages/prettier-config-bananass/package.json
  packages/prettier-config-bananass/tsconfig.json
Labels: :label: type: feat, :label: scope: prettier-config-bananass

#320 feat(eslint-config-bananass)!: add type support and rename configs
  .github/sync-client.yml
  packages/eslint-config-bananass/package.json
  packages/eslint-config-bananass/src/configs/js.js
  packages/eslint-config-bananass/src/configs/jsx-next.js
  packages/eslint-config-bananass/src/configs/jsx-react.js
  packages/eslint-config-bananass/src/configs/ts.js
  packages/eslint-config-bananass/src/configs/tsx-next.js
  packages/eslint-config-bananass/src/configs/tsx-react.js
  packages/eslint-config-bananass/src/index.js
  packages/eslint-config-bananass/src/language-options.js
  packages/eslint-config-bananass/tsconfig.json
  websites/eslint-config-bananass/config.js
Labels: :label: type: feat, :label: BREAKING CHANGE, :label: scope: eslint-config-bananass

#321 chore(release): bump package versions from `v0.0.0` to `v0.1.0-canary.0` (`preminor`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/bananass/src/cli.js
  packages/create-bananass/package.json
  packages/create-bananass/src/cli.js
  packages/create-bananass/templates/javascript/package.json
  packages/create-bananass/templates/typescript/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#322 ci(*): fix `publish.yml`
  .github/workflows/publish.yml
Labels: :label: type: ci, :label: scope: *

#323 chore(release): bump package versions from `v0.1.0-canary.0` to `v0.1.0-canary.1` (`prerelease`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript/package.json
  packages/create-bananass/templates/typescript/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#324 refactor(prettier-config-bananass)!: migrate to ESM
  .github/sync-client.yml
  .prettierrc.cjs
  packages/prettier-config-bananass/package.json
  packages/prettier-config-bananass/src/index.js
  packages/prettier-config-bananass/src/index.test.js
  prettier.config.mjs
Labels: :label: type: refactor, :label: BREAKING CHANGE, :label: scope: prettier-config-bananass

#329 refactor(eslint-config-bananass)!: migrate to ESM
  package-lock.json
  packages/bananass-utils-console/src/spinner/spinner.js
  packages/bananass-utils-console/tsconfig.json
  packages/bananass-utils-vitepress/tsconfig.json
  packages/bananass/tsconfig.json
  packages/create-bananass/tsconfig.json
  packages/eslint-config-bananass/package.json
  packages/eslint-config-bananass/src/configs/js.js
  packages/eslint-config-bananass/src/configs/jsx-next.js
  packages/eslint-config-bananass/src/configs/jsx-react.js
  packages/eslint-config-bananass/src/configs/ts.js
  packages/eslint-config-bananass/src/configs/tsx-next.js
  packages/eslint-config-bananass/src/configs/tsx-react.js
  packages/eslint-config-bananass/src/files.js
  packages/eslint-config-bananass/src/index.js
  packages/eslint-config-bananass/src/language-options.js
  packages/eslint-config-bananass/src/plugins.js
  packages/eslint-config-bananass/src/rules/eslint/eslint-layout-formatting.js
  packages/eslint-config-bananass/src/rules/eslint/eslint-possible-problems.js
  packages/eslint-config-bananass/src/rules/eslint/eslint-suggestions.js
  packages/eslint-config-bananass/src/rules/eslint/eslint.test.js
  packages/eslint-config-bananass/src/rules/eslint/index.js
  packages/eslint-config-bananass/src/rules/import/import-helpful-warnings.js
  packages/eslint-config-bananass/src/rules/import/import-module-systems.js
  packages/eslint-config-bananass/src/rules/import/import-static-analysis.js
  packages/eslint-config-bananass/src/rules/import/import-style-guide.js
  packages/eslint-config-bananass/src/rules/import/import.test.js
  packages/eslint-config-bananass/src/rules/import/index.js
  packages/eslint-config-bananass/src/rules/index.js
  packages/eslint-config-bananass/src/rules/jsx-a11y/index.js
  packages/eslint-config-bananass/src/rules/jsx-a11y/jsx-a11y.js
  packages/eslint-config-bananass/src/rules/jsx-a11y/jsx-a11y.test.js
  packages/eslint-config-bananass/src/rules/next/index.js
  packages/eslint-config-bananass/src/rules/next/next.js
  packages/eslint-config-bananass/src/rules/next/next.test.js
  packages/eslint-config-bananass/src/rules/node/index.js
  packages/eslint-config-bananass/src/rules/node/node.js
  packages/eslint-config-bananass/src/rules/node/node.test.js
  packages/eslint-config-bananass/src/rules/react-compiler/index.js
  packages/eslint-config-bananass/src/rules/react-compiler/react-compiler.js
  packages/eslint-config-bananass/src/rules/react-compiler/react-compiler.test.js
  packages/eslint-config-bananass/src/rules/react-hooks/index.js
  packages/eslint-config-bananass/src/rules/react-hooks/react-hooks.js
  packages/eslint-config-bananass/src/rules/react-hooks/react-hooks.test.js
  packages/eslint-config-bananass/src/rules/react/index.js
  packages/eslint-config-bananass/src/rules/react/react.js
  packages/eslint-config-bananass/src/rules/react/react.test.js
  packages/eslint-config-bananass/src/rules/stylistic-js/index.js
  packages/eslint-config-bananass/src/rules/stylistic-js/stylistic-js.js
  packages/eslint-config-bananass/src/rules/stylistic-js/stylistic-js.test.js
  packages/eslint-config-bananass/src/rules/typescript/index.js
  packages/eslint-config-bananass/src/rules/typescript/typescript-extension.js
  packages/eslint-config-bananass/src/rules/typescript/typescript-recommended.js
  packages/eslint-config-bananass/src/rules/typescript/typescript-stylistic.js
  packages/eslint-config-bananass/src/rules/typescript/typescript.test.js
  packages/eslint-config-bananass/src/settings.js
  packages/eslint-config-bananass/tsconfig.json
  packages/prettier-config-bananass/tsconfig.json
  websites/eslint-config-bananass/config.js
  websites/eslint-config-bananass/package.json
Labels: :label: type: refactor, :label: BREAKING CHANGE, :label: scope: eslint-config-bananass

#330 chore(release): bump package versions from `v0.1.0-canary.1` to `v0.1.0-canary.2` (`prerelease`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript/package.json
  packages/create-bananass/templates/typescript/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#336 docs(*): update `README.md`, `README.en.md`, and `CONTRIBUTING.md`
  CONTRIBUTING.md
  README.en.md
  README.md
Labels: :label: type: docs, :label: scope: *

#337 chore(*): install `@types/node` and update `lint-staged` configuration
  lint-staged.config.mjs
  package-lock.json
  package.json
Labels: :label: type: chore, :label: scope: *

#338 fix(eslint-config-bananass): enhance JSDoc template and update types in `index.js`
  packages/eslint-config-bananass/src/index.js
  packages/eslint-config-bananass/templates/jsdoc.md
Labels: :label: type: fix, :label: scope: eslint-config-bananass

#341 test(*): create e2e tests for bananass-build with `cjs` module system
  package-lock.json
  package.json
  packages/bananass/package.json
  packages/bananass/src/commands/bananass-build/build.js
  tests/.gitkeep
  tests/e2e/.gitignore
  tests/e2e/bananass-build/cjs.test.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/1000.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/1001.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/1002.cjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/1003.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/1004.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/1005.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2000/index.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2000/solution.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2000/testcases.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2001/index.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2001/solution.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2002/index.cjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2002/solution.cjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2002/testcases.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2003/index.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2003/solution.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2003/testcases.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2004/index.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2004/solution.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2004/testcases.mjs
  tests/e2e/bananass-build/fixtures/cjs/bananass/2005/index.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2005/solution.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/2005/testcases.js
  tests/e2e/bananass-build/fixtures/cjs/package.json
  tests/e2e/bananass-build/fixtures/cjs/utils/add.js
  tests/e2e/bananass-build/fixtures/cts/package.json
  tests/e2e/bananass-build/fixtures/mjs/package.json
  tests/e2e/bananass-build/fixtures/mts/package.json
  tests/e2e/package.json
Labels: :label: type: test, :label: scope: *

#343 refactor(bananass): minor tweaks and cleanup
  SECURITY.md
  packages/bananass/src/commands/bananass-bug/bug.js
  packages/bananass/src/commands/bananass-build/build.js
  packages/bananass/src/commands/bananass-discussion/discussion.js
  packages/bananass/src/commands/bananass-home/home.js
  packages/bananass/src/commands/bananass-info/info.js
  packages/bananass/src/commands/bananass-open/open.js
  packages/bananass/src/commands/bananass-repo/repo.js
  packages/bananass/src/commands/bananass-run/run.js
  packages/bananass/src/commands/index.js
  packages/bananass/src/core/constants.js
Labels: :label: type: refactor, :label: scope: bananass

#344 fix(bananass): replace esbuild loader with babel loader for js code bundling
  package-lock.json
  packages/bananass/package.json
  packages/bananass/src/commands/bananass-build/build.js
  tests/e2e/bananass-build/cjs.test.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/3000.js
  tests/e2e/bananass-build/fixtures/mjs/bananass/3000.js
  tests/e2e/bananass-build/mjs.test.js
Labels: :label: type: fix, :label: scope: bananass

#350 feat(bananass): support `Array.prototype.toSorted` transpilation using custom babel plugin
  package-lock.json
  packages/bananass/package.json
  packages/bananass/src/babel-plugins/index.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/index.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/transform-array-prototype-to-sorted.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/transform-array-prototype-to-sorted.test.js
  packages/bananass/src/commands/bananass-build/build.js
  tests/e2e/bananass-build/cjs.test.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/3001.js
  tests/e2e/bananass-build/fixtures/mjs/bananass/3001.js
  tests/e2e/bananass-build/mjs.test.js
Labels: :label: type: feat, :label: scope: bananass

#356 feat(bananass): support `Object.hasOwn` transpilation using custom babel plugin
  packages/bananass/src/babel-plugins/index.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-reversed/transform-array-prototype-to-reversed.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/transform-array-prototype-to-sorted.js
  packages/bananass/src/babel-plugins/transform-object-has-own/.gitkeep
  packages/bananass/src/babel-plugins/transform-object-has-own/index.js
  packages/bananass/src/babel-plugins/transform-object-has-own/transform-object-has-own.js
  packages/bananass/src/babel-plugins/transform-object-has-own/transform-object-has-own.test.js
  packages/bananass/src/commands/bananass-build/build.js
  tests/e2e/bananass-build/cjs.test.js
  tests/e2e/bananass-build/fixtures/cjs/bananass/3003.js
  tests/e2e/bananass-build/fixtures/mjs/bananass/3003.js
  tests/e2e/bananass-build/mjs.test.js
Labels: :label: type: feat, :label: scope: bananass

#357 feat(bananass): add support computed bracket form for `toSorted` and `toReversed`
  packages/bananass/src/babel-plugins/transform-array-prototype-to-reversed/transform-array-prototype-to-reversed.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-reversed/transform-array-prototype-to-reversed.test.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/transform-array-prototype-to-sorted.js
  packages/bananass/src/babel-plugins/transform-array-prototype-to-sorted/transform-array-prototype-to-sorted.test.js
Labels: :label: type: feat, :label: scope: bananass

#358 test(*): create integration tests for package json `engines.node` field
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/src/babel-plugins/transform-array-prototype-at/.gitkeep
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript/package.json
  packages/create-bananass/templates/typescript/package.json
  tests/integration/package-json.test.js
  tests/integration/package.json
Labels: :label: type: test, :label: scope: *

#359 refactor(bananass): remove unused cli commands (`random`, `testcase`) and cleanup
  docs/testcases-design.md
  package-lock.json
  package.json
  packages/bananass/src/cli.js
  packages/bananass/src/cli/bananass-random.js
  packages/bananass/src/cli/bananass-testcase.js
  packages/bananass/src/cli/index.js
  packages/bananass/src/core/conf/default-config-object/default-config-object.js
  packages/bananass/src/core/constants.js
  packages/bananass/src/core/structs/config-object-random/config-object-random.js
  packages/bananass/src/core/structs/config-object-random/config-object-random.test.js
  packages/bananass/src/core/structs/config-object-random/index.js
  packages/bananass/src/core/structs/config-object-testcase/config-object-testcase.js
  packages/bananass/src/core/structs/config-object-testcase/config-object-testcase.test.js
  packages/bananass/src/core/structs/config-object-testcase/index.js
  packages/bananass/src/core/structs/config-object/config-object.js
  packages/bananass/src/core/structs/index.js
  packages/bananass/src/core/types.js
Labels: :label: type: refactor, :label: scope: bananass

#360 fix(bananass): drop esbuild-loader and create e2e tests for bananass build with mts module system
  package-lock.json
  packages/bananass/package.json
  packages/bananass/src/commands/bananass-build/build.js
  tests/e2e/bananass-build/fixtures/mts/bananass/1000.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/1001.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/1002.cts
  tests/e2e/bananass-build/fixtures/mts/bananass/1003.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/1004.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/1005.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2000/index.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2000/solution.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2000/testcases.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2001/index.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2001/solution.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2002/index.cts
  tests/e2e/bananass-build/fixtures/mts/bananass/2002/solution.cts
  tests/e2e/bananass-build/fixtures/mts/bananass/2002/testcases.cts
  tests/e2e/bananass-build/fixtures/mts/bananass/2003/index.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/2003/solution.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/2003/testcases.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/2004/index.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/2004/solution.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/2004/testcases.mts
  tests/e2e/bananass-build/fixtures/mts/bananass/2005/index.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2005/solution.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/2005/testcases.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/3000.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/3001.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/3002.ts
  tests/e2e/bananass-build/fixtures/mts/bananass/3003.ts
  tests/e2e/bananass-build/fixtures/mts/types.d.ts
  tests/e2e/bananass-build/fixtures/mts/utils/add.ts
  tests/e2e/bananass-build/mts.test.js
Labels: :label: type: fix, :label: scope: bananass

#362 chore(release): bump package versions from `v0.1.0-canary.2` to `v0.1.0-canary.3` (`prerelease`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript/package.json
  packages/create-bananass/templates/typescript/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  tests/e2e/package.json
  tests/integration/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#364 refactor(bananass): remove unused `clean` command and cleanup
  packages/bananass-utils-console/src/icons/icons.js
  packages/bananass-utils-console/src/theme/theme.js
  packages/bananass/src/cli.js
  packages/bananass/src/cli/bananass-add.js
  packages/bananass/src/cli/bananass-build.js
  packages/bananass/src/cli/bananass-clean.js
  packages/bananass/src/cli/bananass-lint.js
  packages/bananass/src/cli/bananass-login.js
  packages/bananass/src/cli/bananass-submit.js
  packages/bananass/src/cli/index.js
  packages/bananass/src/commands/bananass-build/build.js
  packages/bananass/src/core/cli/descriptions.js
  packages/bananass/src/core/conf/default-config-object/default-config-object.js
  packages/bananass/src/core/constants.js
  packages/bananass/src/core/fs/find-root-dir/find-root-dir.js
  packages/bananass/src/core/structs/config-object-clean/config-object-clean.js
  packages/bananass/src/core/structs/config-object-clean/config-object-clean.test.js
  packages/bananass/src/core/structs/config-object-clean/index.js
  packages/bananass/src/core/structs/config-object/config-object.js
  packages/bananass/src/core/structs/index.js
  packages/bananass/src/core/types.js
Labels: :label: type: refactor, :label: scope: bananass

#366 test(bananass): create unit test for bananass build
  packages/bananass/src/commands/bananass-build/build.js
  packages/bananass/src/commands/bananass-build/build.test.js
  packages/bananass/src/commands/bananass-build/fixtures/.gitignore
  packages/bananass/src/commands/bananass-build/fixtures/bananass/1000.cjs
  packages/bananass/src/commands/bananass-build/fixtures/bananass/1001.cjs
  packages/bananass/src/commands/bananass-build/fixtures/bananass/1002.cjs
  packages/bananass/src/commands/bananass-build/fixtures/src/2000.cjs
Labels: :label: type: test, :label: scope: bananass

#368 fix(create-bananass): `.gitignore` file is ignored when publish to npm
  packages/create-bananass/src/cli.js
  packages/create-bananass/templates/javascript/gitignore
  packages/create-bananass/templates/typescript/gitignore
Labels: :label: type: fix, :label: scope: create-bananass

#369 chore(release): bump package versions from `v0.1.0-canary.3` to `v0.1.0-canary.4` (`prerelease`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript/package.json
  packages/create-bananass/templates/typescript/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  tests/e2e/package.json
  tests/integration/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#370 chore(deps): bump `eslint-plugin-react-compiler`
  package-lock.json
  packages/eslint-config-bananass/package.json
Labels: :label: type: chore, :label: scope: deps

#372 docs(websites-vitepress): create Q & A
  docs/question-and-answer.md
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
  websites/vitepress/en/learn/q-and-a.md
  websites/vitepress/ko/learn/q-and-a.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#373 fix(create-bananass): make cli command to work in a non-interactive environment
  package-lock.json
  packages/create-bananass/package.json
  packages/create-bananass/src/cli.js
Labels: :label: type: fix, :label: scope: create-bananass

#374 test(tests-e2e): create e2e tests for `create-bananass`
  packages/create-bananass/src/cli.js
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  tests/e2e/.gitignore
  tests/e2e/create-bananass/cli.test.js
Labels: :label: type: test, :label: scope: tests-e2e

#379 chore(release): bump package versions from `v0.1.0-canary.4` to `v0.1.0-canary.5` (`prerelease`)
  examples/readline/package.json
  examples/solutions-bananass-cjs/package.json
  examples/solutions-bananass-cts/package.json
  examples/solutions-bananass-mjs/package.json
  examples/solutions-bananass-mts/package.json
  examples/solutions-readline-cjs/package.json
  examples/solutions-readline-mjs/package.json
  lerna.json
  package-lock.json
  package.json
  packages/bananass-utils-console/package.json
  packages/bananass-utils-vitepress/package.json
  packages/bananass/package.json
  packages/create-bananass/package.json
  packages/create-bananass/templates/javascript-cjs/package.json
  packages/create-bananass/templates/javascript-esm/package.json
  packages/create-bananass/templates/typescript-cjs/package.json
  packages/create-bananass/templates/typescript-esm/package.json
  packages/eslint-config-bananass/package.json
  packages/prettier-config-bananass/package.json
  tests/e2e/package.json
  tests/integration/package.json
  websites/eslint-config-bananass/package.json
  websites/vitepress/package.json
Labels: :label: type: chore, :label: scope: release

#382 docs(websites-vitepress): create more documentations and remove unused `docs` directory
  README.en.md
  README.md
  docs/archived.md
  docs/eslint.ko.md
  docs/home.ko.md
  docs/quick-start.ko.md
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
  websites/vitepress/en/apis/eslint-config-bananass/index.md
  websites/vitepress/en/apis/eslint-config-bananass/references.md
  websites/vitepress/en/apis/index.md
  websites/vitepress/en/get-started/before-getting-started.md
  websites/vitepress/en/get-started/quick-start.md
  websites/vitepress/en/index.md
  websites/vitepress/en/learn/how-to-run-solution-files.md
  websites/vitepress/en/learn/index.md
  websites/vitepress/en/learn/project-structure.md
  websites/vitepress/ko/apis/eslint-config-bananass/index.md
  websites/vitepress/ko/apis/eslint-config-bananass/references.md
  websites/vitepress/ko/apis/index.md
  websites/vitepress/ko/get-started/before-getting-started.md
  websites/vitepress/ko/get-started/installation.md
  websites/vitepress/ko/get-started/quick-start.md
  websites/vitepress/ko/index.md
  websites/vitepress/ko/learn/how-to-run-solution-files.md
  websites/vitepress/ko/learn/index.md
  websites/vitepress/ko/learn/project-structure.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#383 docs(*): update eslint config and translate `CONTRIBUTING.en.md`
  .github/sync-client.yml
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  eslint.config.mjs
  package-lock.json
  package.json
  websites/vitepress/en/apis/eslint-config-bananass/references.md
  websites/vitepress/en/apis/index.md
  websites/vitepress/en/get-started/installation.md
  websites/vitepress/en/get-started/quick-start.md
  websites/vitepress/en/learn/how-to-parse-input-value.md
  websites/vitepress/en/learn/how-to-run-solution-files.md
  websites/vitepress/en/learn/index.md
  websites/vitepress/en/learn/project-structure.md
  websites/vitepress/en/learn/q-and-a.md
  websites/vitepress/en/learn/solving-problems-without-bananass-framework.md
  websites/vitepress/ko/apis/eslint-config-bananass/index.md
  websites/vitepress/ko/apis/eslint-config-bananass/references.md
  websites/vitepress/ko/apis/index.md
  websites/vitepress/ko/get-started/before-getting-started.md
  websites/vitepress/ko/learn/how-to-parse-input-value.md
  websites/vitepress/ko/learn/project-structure.md
Labels: :label: type: docs, :label: scope: *

#384 docs(websites-vitepress): add Linux and WSL browser error Q&A
  websites/vitepress/ko/learn/q-and-a.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#385 docs(websites-vitepress): create dummy docs for structuring
  CONTRIBUTING.en.md
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
  websites/vitepress/en/get-started/editor-setup.md
  websites/vitepress/en/index.md
  websites/vitepress/en/solutions/index.md
  websites/vitepress/ko/get-started/editor-setup.md
  websites/vitepress/ko/index.md
  websites/vitepress/ko/solutions/index.md
Labels: :label: type: docs, :label: scope: websites-vitepress

#386 docs(*): cleanup examples, create dummy docs, and `writing-a-solution-function.md`
  examples/readline/index.js
  examples/solutions-readline-cjs/templates/index.js
  packages/bananass-utils-vitepress/src/i18n/en/en.js
  websites/vitepress/.vitepress/config/en.js
  websites/vitepress/.vitepress/config/ko.js
  websites/vitepress/en/learn/building-a-solution-file.md
  websites/vitepress/en/learn/excluding-specific-code-from-the-final-build-file.md
  websites/vitepress/en/learn/exporting-test-cases-and-solution-function.md
  websites/vitepress/en/learn/if-no-input-value.md
  websites/vitepress/en/learn/importing-external-libraries.md
  websites/vitepress/en/learn/other-useful-cli-commands.md
  websites/vitepress/en/learn/parsing-input-value.md
  websites/vitepress/en/learn/running-a-solution-file.md
  websites/vitepress/en/learn/solving-a-problem-without-bananass.md
  websites/vitepress/en/learn/solving-problems-without-bananass-framework.md
  websites/vitepress/en/learn/stringifying-output-value.md
  websites/vitepress/en/learn/submitting-directly-on-the-website.md
  websites/vitepress/en/learn/submitting-using-cli-command.md
  websites/vitepress/en/learn/writing-a-solution-function.md
  websites/vitepress/en/learn/writing-all-logic-in-a-single-file.md
  websites/vitepress/en/learn/writing-bananass-config-file.md
  websites/vitepress/en/learn/writing-modular-logic-in-a-single-folder.md
  websites/vitepress/en/learn/writing-test-cases.md
  websites/vitepress/ko/get-started/quick-start.md
  websites/vitepress/ko/learn/building-a-solution-file.md
  websites/vitepress/ko/learn/excluding-specific-code-from-the-final-build-file.md
  websites/vitepress/ko/learn/exporting-test-cases-and-solution-function.md
  websites/vitepress/ko/learn/if-no-input-value.md
  websites/vitepress/ko/learn/importing-external-libraries.md
  websites/vitepress/ko/learn/other-useful-cli-commands.md
  websites/vitepress/ko/learn/parsing-input-value.md
  websites/vitepress/ko/learn/running-a-solution-file.md
  websites/vitepress/ko/learn/solving-a-problem-without-bananass.md
  websites/vitepress/ko/learn/stringifying-output-value.md
  websites/vitepress/ko/learn/submitting-directly-on-the-website.md
  websites/vitepress/ko/learn/submitting-using-cli-command.md
  websites/vitepress/ko/learn/writing-a-solution-function.md
  websites/vitepress/ko/learn/writing-all-logic-in-a-single-file.md
  websites/vitepress/ko/learn/writing-bananass-config-file.md
  websites/vitepress/ko/learn/writing-modular-logic-in-a-single-folder.md
  websites/vitepress/ko/learn/writing-test-cases.md
  websites/vitepress/shared/solution-file-example-full.ko.md
  websites/vitepress/shared/solution-file-example-min.ko.md
Labels: :label: type: docs, :label: scope: *
